.nav {
    width: full;
    padding: 22px 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.nav-item {
    margin: auto 0;
}

.logo-header {
    display: inline-block;
    font-size: 28px;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--logo-gradient-left), var(--logo-gradient-right));
    background-clip: text;
    color: transparent;
}

.theme-btn {
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: transform 150ms ease-out;
}

.theme-btn:hover {
  transform: scale(1.2);
}

.theme-btn:active {
  transform: scale(0.8);
}
