@use "/src/styles";

.nav {
  width: full;
  padding: 25px 50px;
}

@media only screen and (max-width: styles.$breakpoint-s) {
  .nav {
    width: full;
    padding: 25px 25px;
  }
}

@media only screen and (max-width: styles.$breakpoint-xs) {
  .nav {
    width: full;
    padding: 25px 15px;
  }
}

.nav-icon-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-nav-icon);
  padding: 7px;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--border-nav-icon);
  transition: background-color 200ms ease-out;
}

.nav-icon-wrapper:hover {
  background-color: var(--element-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.nav-item {
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  font-size: 16px;
  color: var(--text-primary-color);
  border-radius: 10px;
  cursor: pointer;
  padding: 6px 18px;
  transition: background-color ease-out 200ms;
  overflow: hidden;
}

.logout:hover {
  background-color: var(--element-color);
}

.logo-header {
  cursor: default;
  display: inline-block;
  font-size: 32px;
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    var(--logo-gradient-left),
    var(--logo-gradient-right)
  );
  background-clip: text;
  color: transparent;
}
