<div class="nav">
  <div class="nav-list">
    <div class="nav-item">
      <p class="logo-header">Chattly</p>
    </div>
    <div class="nav-item">
      <button (click)="clearMessages()" class="logout">Clear Messages</button>
      <button *ngIf="isLoggedIn$ | async" (click)="logout()" class="logout">
        Logout
      </button>
      <div>
        <button (click)="changeTheme()" class="nav-icon-wrapper">
          <span
            *ngIf="(currentTheme$ | async) == 'dark'"
            class="icon material-symbols-outlined"
          >
          light_mode
          </span>
          <span
            *ngIf="(currentTheme$ | async) == 'light'"
            class="icon material-symbols-outlined"
          >
            dark_mode
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
