.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  color: var(--text-primary-color);
  width: 100%;
}

.send-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--text-primary-color);
}

.send-icon {
  transition: transform 150ms ease-out;
  font-size: 28px;
}

.send-icon:hover {
  transform: scale(1.2);
}

.send-icon:active {
  transform: scale(1);
}
