<div *ngIf="loadingComplete" @fade class="container">
  <div
    *ngIf="announcements$ | async; let announcements"
    class="announcements-container"
  >
    <div *ngFor="let announcement of announcements" class="announcement">
      <span
        *ngIf="announcement.type == announcementType.Joined"
        class="icon announcement-icon material-symbols-outlined"
      >
        person_add
      </span>
      <span
        *ngIf="announcement.type == announcementType.Left"
        class="icon announcement-icon material-symbols-outlined"
      >
        person_remove
      </span>
      <p>
        {{ announcement.username }}
        {{ announcementType[announcement.type].toLowerCase() }}
      </p>
    </div>
  </div>
  <div class="users-count">
    Users: <span @fadeDown>{{ usersCount$ | async }}</span>
  </div>
  <div (scroll)="onScroll($event)" #messagesContainer class="messages">
    <message
      @fadeDown
      *ngFor="let message of messages$ | async"
      [message]="message"
    ></message>
  </div>
  <div class="messages-footer">
    <message-input></message-input>
  </div>
  <div @fadeUp *ngIf="!stickScrollToBottom" (click)="scrollToBottom()" class="scroll-down-btn noselect">
    <span class="material-symbols-outlined"> expand_more </span>
  </div>
  <div
    @easeIn
    *ngIf="(typingUsers$ | async)?.length != 0; let user"
    class="user-typing"
  >
    {{ (typingUsers$ | async)?.at(0)?.username }} is typing...
  </div>
</div>
<loader info="Loading messages" *ngIf="!loadingComplete"></loader>
