<div @fade class="container">
  <div
    @fadeDown
    *ngIf="showAnnouncement"
    class="announcement"
  >
  <div *ngIf="(announcements$ | async) as announcement">
    <span
      *ngIf="
        announcement.type ==
        announcementType.Joined
      "
      class="icon announcement-icon material-symbols-outlined"
    >
      person_add
    </span>
    <span
      *ngIf="
        announcement.type ==
        announcementType.Left
      "
      class="icon announcement-icon material-symbols-outlined"
    >
      person_remove
    </span>
    <p>
      {{ announcement.username }}
      {{ announcementType[announcement.type].toLowerCase() }}
    </p>
  </div>
  </div>
  <div class="users-count">
    Users: <span @fadeDown>{{ usersCount$ | async }}</span>
  </div>
  <div #messagesContainer class="messages">
    <message
      @fadeDown
      [message]="message"
      *ngFor="let message of messages$ | async"
    ></message>
  </div>
  <div class="messages-footer">
    <div
      @easeIn
      *ngIf="(typingUsers$ | async)?.length != 0; let user"
      class="user-typing"
    >
      {{ (typingUsers$ | async)?.at(0)?.username }} is typing...
    </div>
    <div>
      <message-input></message-input>
    </div>
  </div>
</div>
