<div @fade class="container">
  <div @fadeDown *ngIf="announcement" class="user-joined">
    <svg *ngIf="announcement.type == announcementType.Joined" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="announcement-icon" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
    </svg>
    <svg *ngIf="announcement.type == announcementType.Left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
    </svg>
    {{announcement}} {{announcement.type.toString().toLowerCase()}}
  </div>
  <div class="users-count">Users: <span @fadeDown>{{usersCount$ | async}}</span></div>
  <div class="messages">
    <message
      @fadeDown
      [message]="message"
      *ngFor="let message of messages$ | async"
    ></message>
  </div>
  <div class="messages-footer">
    <div
      @easeIn
      *ngIf="(typingUsers$ | async)?.length != 0; let user"
      class="user-typing"
    >
      {{ (typingUsers$ | async)?.at(0)?.username }} is typing...
    </div>
    <div>
      <message-input></message-input>
    </div>
  </div>
</div>
