.container {
  background-color: var(--element-color);
  height: 80vh;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px var(--shadow-color);
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 30px 25px;
  overflow: auto;
}

.messages-footer {
  margin-top: auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.user-typing {
  color: #555;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--element-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
