.messages {
    background-color: var(--element-color);
    height: 80vh;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px var(--shadow-color);
}

.message-input {
    margin-top: auto;
}