@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --bg-color: hsla(230,15%,10%,1.0);
    --element-color: hsla(232,14%,14%,1.0);

    --text-primary-color: hsla(0,0%,90%,1.0);
    --text-secondary-color: hsla(0,0%,70%,1.0);
    --text-tertiary-color: hsla(0,0%,50%,1.0);
    --text-quaternary-color: hsla(0,0%,40%,1.0);
    
    --logo-gradient-left: hsla(200,52%,46%,1.0);
    --logo-gradient-right: rgb(98, 219, 183);
}

[data-theme="light"] {
    --bg-color: white;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    
}

.bg-color-transition {
    transition: background-color 350ms ease;
}

*:focus {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

// hide arrows on input number type
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button, input {
    background-color: transparent;
    border: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    color: var(--text-primary-color);
}
