$breakpoint-xs: 300px;
$breakpoint-s: 600px;
$breakpoint-m: 1279.9px;
$breakpoint-l: 1588.9px;
$breakpoint-xl: 2599.9px;
$breakpoint-xxl: 2600px;

:root {
  --bg-color: hsla(240, 21%, 15%, 1);
  --element-color: hsla(240, 21%, 13%, 1);
  --shadow-color: hsla(240, 21%, 8%, 1);
  --text-primary-color: hsla(0, 0%, 90%, 1);
  --text-secondary-color: hsla(0, 0%, 80%, 1);
  --text-tertiary-color: hsla(0, 0%, 70%, 1);
  --text-quaternary-color: hsla(0, 0%, 65%, 1);
  --logo-gradient-left: hsla(255, 66%, 70%, 1);
  --logo-gradient-right: hsl(310, 68%, 65%);

  --color-icon: white;
  --bg-nav-icon: hsla(240, 21%, 16%, 1);
  --border-nav-icon: hsla(240, 21%, 29%, 1);
}

[data-theme="light"] {
  --bg-color: hsla(211, 100%, 96%, 1);
  --element-color: hsla(211, 100%, 90%, 1);
  --shadow-color: hsla(211, 100%, 80%, 1);
  --bg-nav-icon: white;

  --color-icon: black;

  --text-primary-color: hsla(0, 0%, 10%, 1);
  --text-secondary-color: hsla(0, 0%, 20%, 1);
  --text-tertiary-color: hsla(0, 0%, 30%, 1);
  --text-quaternary-color: hsla(0, 0%, 40%, 1);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.bg-color-transition {
  transition: background-color 350ms ease;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

// hide arrows on input number type
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button,
input {
  background-color: transparent;
  border: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  color: var(--text-primary-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
  font-weight: 300;
  color: var(--color-icon);
}
